<div class="container mt-3">
  <h4>Roles</h4>
  <div class="table-responsive">
    <ngx-spinner size="default" type="line-scale-pulse-out"></ngx-spinner>
    <div class="float-right">
      <button type="button" class="btn btn-primary mb-2 mr-2" (click)="saveRole()">Save Role</button>
      <button type="button" class="btn btn-primary mb-2" routerLink="/batch-listing">Batch Listing</button>
    </div>
    <table class="table table-striped table-hover table-bordered">
      <tr>
        <th>Role Name</th>
        <th>Module</th>
        <!-- <th>Module 1</th> -->
      </tr>
      <tr *ngFor="let role of roles">
        <td>{{role.role_name}}</td>
        <!-- <td>{{role.role_access}}</td> -->
        <td>
          <div>
            <h4>Submission</h4>
            <input type="checkbox" (change)="selectRoles(role.roleId, $event.target.checked, 'Customer Data')"> Customer Data<br>
            <input type="checkbox" (change)="selectRoles(role.roleId, $event.target.checked, 'Invoice')"> Invoice<br>
            <input type="checkbox" (change)="selectRoles(role.roleId, $event.target.checked, 'Change Log')"> Change Log<br>
            <input type="checkbox" (change)="selectRoles(role.roleId, $event.target.checked, 'Item/Invoice Create')"> Item/Invoice Create<br>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
