<div class="container mt-3">
  <h4>Batched Submission for {{offerCode}}</h4>
  <div class="table-responsive">
    <ngx-spinner size="default" type="line-scale-pulse-out"></ngx-spinner>
    <div class="float-right">
      <a [href]="fileURL" class="btn btn-primary mr-2 mb-2" download="{fileName}">Download CSV File</a>
      <button type="submit" class="btn btn-primary mr-2 mb-2" (click)="copyToSFTP();">Copy To SFTP</button>
      <button type="button" class="btn btn-primary mb-2" routerLink="/batch-listing"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
    </div>
    <table class="table table-striped table-hover table-bordered">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Validation Status</th>
        <th>Offer Code</th>
        <th>Invoice Id</th>
        <th>Rebate Amount</th>
      </tr>
      <tr *ngFor="let batchedSubmission of batchedSubmissionData">
        <td>{{batchedSubmission.customerFName}}</td>
        <td>{{batchedSubmission.customerLName}}</td>
        <td>{{batchedSubmission.customerAddress1}},{{batchedSubmission.customerAddress2}},{{batchedSubmission.customerCity}},{{batchedSubmission.customerState}}</td>
        <td>{{batchedSubmission.emailID}}</td>
        <td>{{batchedSubmission.mobileNum}}</td>
        <td>{{batchedSubmission.validationStatus}}</td>
        <td>{{batchedSubmission.offerId}}</td>
        <td>{{batchedSubmission.invoiceId}}</td>
        <td>{{batchedSubmission.rebateAmount}}</td>
      </tr>
    </table>
  </div>
</div>

<!-- <div class="container mt-3">
  <button type="button" class="btn btn-primary float-right mb-2" routerLink="/batch-listing"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
  <br/>
  <form class="needs-validation" novalidate>
    <div class="form-group">
      offerCode :
      <label for="offerCode">{{batchedSubmissionData[0].offer_id}}</label>
    </div>
    <div class="form-group">
      Batch Type :
      <label for="totalAmount">{{batchedSubmissionData[0].batch_type}}</label>
    </div>
    <div class="form-group">
      Card Program :
      <label for="totalAmount">{{batchedSubmissionData[0].card_program}}</label>
    </div>
    <div class="form-group">
      Batch File :
      <label for="totalAmount">{{batchedSubmissionData[0].batch_file}}</label>
    </div>
    <div class="form-group">
      Batch Status :
      <label for="totalAmount">{{batchedSubmissionData[0].status}}</label>
    </div>
    <div class="form-group">
      Batch Count :
      <label for="totalAmount">{{batchedSubmissionData[0].batch_count}}</label>
    </div>
    <div class="form-group">
      Created Date :
      <label for="totalAmount">{{batchedSubmissionData[0].created_date | date :  "dd/MM/y"}}</label>
    </div>
  </form>
</div> -->
