<div class="container mt-3">
  <div id="loader">
  <button type="button" class="btn btn-primary float-right mb-2" routerLink="/batch-listing"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
  <br/>
  <ngx-spinner size="default" type="line-scale-pulse-out"></ngx-spinner>
  <form class="needs-validation" novalidate>
    <div class="row">
        <div class="col-md-6">

                <div class="form-group" >
                    <label for="client">Client:</label>
                  <select class="form-control" id="client" name="client" [(ngModel)]="batch.client" [disabled]="check" required>
                      <option *ngFor="let clientId of clientIds" [value]="clientId.clientName">{{clientId.clientName}}</option>
                      <!-- <option value="">Client</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option> -->
                  </select>
                </div>

                 <div class="form-group" >
                    <label for="promotionStatus">Promotion Status:</label>
                      <select class="form-control" name="promotionStatus"  [(ngModel)]="batch.promotionStatus" [disabled]="check" required>
                       <option value="1">All</option>
                       <option value="2">Valid</option>
                       <option value="3">Invalid</option>
                     </select>
                </div>


                <div class="form-group" data-validate="Offer is required">
                  <label for="offerCode">Choose Offers *:</label>
                  <select class="form-control" id="offerCode" name="offerCode" [(ngModel)]="batch.offerCode" [disabled]="check" multiple>
                  <option *ngFor="let offId of offerIds" [value]="offId.offerId">{{offId.offerId}} - {{offId.offerCode}}</option>
                    <!-- <option value="1000">1000-Dt</option>
                    <option value="1001">1001-AT</option>
                    <option value="1002">1002-OFFER 1</option>
                    <option value="1003">1003-OFFER 2</option>
                    <option value="1004">1004-OFFER 3</option>
                    <option value="1005">1005-OFFER 4</option>
                    <option value="1006">1006-OFFER 5</option>
                    <option value="1007">1007-OFFER 6</option>
                    <option value="1008">1008-OFFER 7</option>
                    <option value="1009">1009-OFFER 8</option>
                    <option value="1010">1010-OFFER 9</option>
                    <option value="1100">1100-OFFER 10</option>
                    <option value="1101">1101-OFFER 11</option> -->
                  </select>
                </div>


                <div class="form-group" data-validate="card Issuer is required" >
                    <label for="cardIssuer">Card Issuer:</label>
                    <select class="form-control" id="cardIssuer" name="cardIssuer" [(ngModel)]="batch.cardIssuer" [disabled]="check"  multiple>
                      <option value="1">american</option>
                      <option value="2">american</option>
                      <option value="3">american</option>
                      <option value="4">american</option>
                      <option value="5">american</option>
                    </select>
                </div>



      </div>

      <div class="col-md-6">


                <div class="form-group" data-validate="Card Program is required" >
                    <label for="cardProgram">Card Program:</label>
                  <select class="form-control" id="cardProgram" name="cardProgram"  [(ngModel)]="batch.cardProgram" [disabled]="check" multiple>
                    <option value="1">value 1</option>
                    <option value="2">value 2</option>
                    <option value="3">value 3</option>
                    <option value="4">value 4</option>
                    <option value="5">vaule 5</option>
                  </select>
                </div>

                <!-- <div class="form-group" data-validate="Offer is required" >
                    <label for="offerCode">Transaction Usable Balance:</label>
                  <select class="form-control" id="transactionUsable" name="transactionUsable"  multiple>
                    <option value="">$10.00</option>
                    <option value="">$20.00</option>
                    <option value="">$30.00</option>
                    <option value="">$40.00</option>
                    <option value="">$50.00</option>
                  </select>
                </div> -->


                <div class="form-group" data-validate = "Amount is required">
                  <label for="totalAmount">Amount *:</label>
                  <input class="form-control" type="number" name="totalAmount" id="totalAmount" [(ngModel)]="batch.totalAmount" [disabled]="check" required>
                </div>





                <div class="form-group">
                <label for="onbefore">Processed on/Before: </label>
                 <input type="date" name="onbefore" value=""  [(ngModel)]="batch.onbefore" [disabled]="check" required>
                </div>




                <div class="form-group">
                  <label>
                    <input type="checkbox" class="radio" value="" name="" >Expedited Only:</label>
                </div>



                <div class="form-group">
                      <span class='label-input100' *ngFor="let msg of message">{{msg}}</span>
                </div>

        </div>

        <button type="submit" class="btn btn-primary mr-2" *ngIf="!check" (click)="saveBatchSubmissions()" >Check</button>
        <button type="submit" class="btn btn-primary mr-2" *ngIf="check && !stopBatching" (click)="finalBatchSubmissions()">Submit</button>
        <button type="button" class="btn btn-warning" (click)="Cancel()">Cancel</button>
          </div>

          <div class="">

          </div>

          <div class="row">

          <table  class="table">
            <thead>
                <tr>
                  <th>Promo Id</th>
                  <th>Submission Count</th>
                  <th>Amount Allocated</th>
                  <th>Amount Remaning</th>
                  <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let batch of batchs">
                  <td>{{batch.offerId}}</td>
                  <td>{{batch.subCount}}</td>
                  <td>{{getAllocatedAmount(batch.total,batch.amount)}}</td>
                  <td>{{batch.amount}}</td>
                  <td>{{batch.total}}</td>
                </tr>

            </tbody>
          </table>

    </div>
  </form>
  </div>
</div>
