<div class="container mt-3 loading">
  <div class="table-responsive">
    <ngx-spinner size="default" type="line-scale-pulse-out"></ngx-spinner>
    <div class="float-right ">
    <button type="button" class="btn btn-primary mb-2  mr-2" routerLink="/new-batch">Create Batch</button>
      <!-- <button type="button" class="btn btn-primary mb-2" routerLink="/roles">User Role</button> -->
    </div>
    <br>
    <table class="table table-striped table-hover table-bordered">
    <tr>
    <th>Batch Type</th>
    <th>Offer Code</th>
    <th>Card Program</th>
    <th>Batch File</th>
    <th>Batch Status</th>
    <th>Batch Count</th>
    <th>Created Date</th>
    </tr>
    <tr *ngFor="let batchSubmission of batchSubmissions">
    <td>{{batchSubmission.batch_type}}</td>
    <td>{{batchSubmission.offer_id}}</td>
    <td>{{batchSubmission.card_program}}</td>
    <td><button type="button" class="btn" (click)="redirect(batchSubmission.batch_id);"> {{batchSubmission.batch_file}}</button></td>
    <td>{{batchSubmission.status}}</td>
    <td>{{batchSubmission.batch_count}}</td>
    <td>{{batchSubmission.created_date | date :  "dd/MM/y"}}</td>
    </tr>
    </table>
  </div>
</div>
